@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 10px;
    background-color: #0B1020;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 25px;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 45px;
}

nav ul a{
    font-size: 1.4rem;
    font-weight: 400;
    color: #9AA7BF;
}

.work-btn{
    color: #9AA7BF;
    background-color: #0F1724;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 105px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -6px rgba(154,167,191,0.5);
    transition: all ease 0.4s;
}

.work-btn:hover{
    background-color: transparent;
    border: 1px solid #9AA7BF;
    transition: all ease 0.4s;;
}

.hero{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1{
    color: #fff;
    font-size: 3.5rem;
}

.hero p{
    color: #9AA7BF;
    font-size: 1.6rem;
    font-weight: 200;
}

.hero .work-btn{
    margin-top: 85px;
}

.hero .social-media{
    display: flex;
    list-style: none;
    color: #9AA7BF;
    font-size: 1.6rem;
    margin-top: 50px;
    gap: 15px;
}

.hero .social-media i{
    cursor: pointer;
    transition: all ease 0.4s;
}

.hero .social-media i:hover{
    color: #fff;
    transition: all ease 0.4s;
}
